.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
site
server/mongoose.exe
# Symlinks created by compile.r
apps/*/www
# Electron
node_modules/
dist/
*.log
.env
tmp_www
r_output.txt
test-output.txt
test.bat
