.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
site
server/mongoose.exe
# Symlinks created by compile.r
apps/*/www
# Electron
node_modules/
dist/
*.log
.env
tmp_www
r_output.txt
test-output.txt
test.bat
build/apps

# Pandoc WASM assets
# Ignore large binary downloaded from web
assets/pandoc/pandoc.wasm

# Ignore 3rd-party shim files copied from node_modules
assets/pandoc/*
!assets/pandoc/pandoc-integration.js
!assets/pandoc/pandoc-main.js